.timer-text{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.otp-btn {
    display: flex;
    justify-content: end;
}
.otp-btn button{
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 4px 15px;

}
.home-btn{
    border: none;
    background-color: rgb(193 87 34);
    border-radius: 5px;
    color: #fff;
    padding: 4px 10px;
}
.user-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}